<!-- jQuery JS -->
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<!-- 자바스크립트 Start -->

{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
    <body class="text-center">
        <!-- 네비게이션-->
        {% include 'navbar.html' %}
        {% block content %}
        <div class="container my-3">     
        <!-- flashed_messages-->

        {% for message in get_flashed_messages() %}
            <div class='alert alert-info'>
            {{message}}
        {% endfor %}
        <!-- 각 페이지-->
        {% block page_content %} {% endblock %}
        </div>

    </div>
    {% endblock %}

    </body>
</html>