{% extends "base.html" %}

{% block title %}메인 페이지{% endblock %}

{% block page_content %} 
<style>
  .book_img {
    object-fit: contain;
  }
</style>   
    {% if book_list %}
      
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for book in book_list.items %}
            <div class="col">
              <div class="card shadow-sm">

                <a href="{{ url_for('book.book_indetail', book_id=book.id) }}" class="btn btn-light my-2"><img class= 'book_img'src={{book.img}} height="250" width ="100%" alt=""> 
                <title>책</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{book.title}} </text></a>
                <div class="card-body">
                <p class="card-text"{{book.author}}></p>
                <p class="card-text"{{book.publisher}}></p>

                  <p class="card-text" >{{book.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">

                    <div>           
                        <p class="text-muted">
                          평균 평점: 
                          {% if book.rating == 0 %}
                            {{'☆'*(5-book.rating)}}
                          {% else %}
                            {{'★'*book.rating}}{{'☆'*(5-book.rating)}}
                          {% endif %}
                        </p>
                    </div>
                    <div>            
                        <small class="text-muted">
                          {% if book.stock == 0 %}
                            대출불가
                            <button type='submit' style='background-color: darkslategrey; color:white;'>대출불가</button>
                          {% else %}  
                          <a href="{{ url_for('rental.rent', book_id=book.id) }}" class="btn btn-light my-2" style='background-color: rgb(82, 79, 161);color:white;'>대여하기</a>
                          <p>  {{book.in_stock}}권 대출가능</p>

                          {% endif %}
                        </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% endif %}
          </div>
        </div>
      </div>
    </main>

      <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if book_list.has_prev %}
      <li class="page-item">
          <a class="page-link" href="?page={{ book_list.prev_num }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      {% for page_num in book_list.iter_pages() %}
          {% if page_num %}
              {% if page_num != book_list.page %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
              </li>
              {% else %}
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ page_num }}</a>
              </li>
              {% endif %}
         {% else %}
              <li class="disabled">
                  <a class="page-link" href="#">...</a>
              </li>
         {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if book_list.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ book_list.next_num }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
  </ul>
  <!-- 페이징처리 끝 -->
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">맨 위로</a>
      </p>
    </div>
  </footer>
{% endblock %}

    
